@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: linear-gradient(0deg, #27292d, #27292d),
    linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
}

.gradient-border {
  border: 2px solid;
  border-image: linear-gradient(129.59deg, #969696 0%, #343434 98.18%);
}
